<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <div>
        <div>
            <h3>Users</h3>
        </div>
        <div>
            <a href="{{ url_for('users.user_create') }}"><button>Create User</button></a>
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name|title }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ url_for('users.user_update', user_id=user.id) }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
</body>
</html>